# Pandas读取数据
1. pandas读取纯文本文件
    * 读取csv文件
    * 读取txt文件
2. pandas 读取xlsx格式的Excel文件
3. pandas 读取mysql数据表

In [1]:
import pandas as pd

##  1. 读取纯文本文件
1.1 读取CSV,使用默认的标题行, 逗号分隔符

In [2]:
fpath = "./datas/ml-latest-small/ratings.csv"

In [3]:
# 使用pd.read_csv读取数据
ratings = pd.read_csv(fpath)
# 查看前几行数据
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
# 查看数据的形状, 返回(行数, 列数)
ratings.shape

(100836, 4)

In [5]:
# 查看列名列表
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [6]:
# 查看每列的数据类型
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

## 1.2 读取txt文件, 自己指定分隔符, 列名

In [7]:
fpath = "./datas/crazyant/access_pvuv.txt"

In [8]:
pvuv = pd.read_csv(
    fpath,
    sep='\t',
    header=None,
    names=['pdate', 'pv', 'uv']
)

In [9]:
pvuv

        pdate   pv   uv
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61

## 2. 读取Excel文件

In [10]:
fpath = "./datas/crazyant/access_pvuv.xlsx"
pvuv = pd.read_excel(fpath)
pvuv

           日期   PV   UV
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61

## 3. 读取MySQL数据库

In [11]:
import pymysql

In [12]:
conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='123456',
    database='test',
    charset='utf8'
)

In [15]:
mysql_page = pd.read_sql("select * from crazyant_pvuv", con=conn)

In [16]:
mysql_page

        pdate   pv  uv
0  2019-09-10  139  92
1   2019-09-9  188  83
2   2019-09-8   28  23
3   2019-09-7   90  23