#  03. Pandas 数据结构

1. Series
2. DataFrame 
3. 从DataFrame中查询出Series

In [1]:
import pandas as pd
import numpy as np

## 1. Series
Series 是一种类似于一维数组的对象, 它由一组数据(不同数据类型)以及一组与之相关的数据标签(即索引)组成.

### 1.1 仅有数据列表即可产生最简单的Series

In [3]:
s1 = pd.Series([1,'a', 5.2,7])
# 左侧为索引, 右侧是数据
s1

0      1
1      a
2    5.2
3      7
dtype: object

In [4]:
# 获取索引
s1.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
# 获取数据
s1.values

array([1, 'a', 5.2, 7], dtype=object)

### 1.2创建一个具有标签索引的Series

In [6]:
s2 = pd.Series([1,'a', 5.2, 7], index=['d','b','a','c'])
s2

d      1
b      a
a    5.2
c      7
dtype: object

### 1.3使用Python字典创建Series

In [7]:
sData = {'ohio':35000, 'texas':72000, 'oregon':18382, 'utah':893}
s3 = pd.Series(sData)
s3

ohio      35000
texas     72000
oregon    18382
utah        893
dtype: int64

### 1.4 根据标签索引查询数据
类似Python的字典dict

In [8]:
s2

d      1
b      a
a    5.2
c      7
dtype: object

In [9]:
s2['a']

5.2

## 2. DataFrame
DataFrame 是一个表格型的数据类型
    * 每列可以是不同的值类型(数值, 字符串, 布尔值)
    * 既有行索引index,也有列索引columns
    * 可以被看做由Series组成的字典
    
  创建dataFrame最常用的方法

### 2.1 根据多个字典序列创建dataframe

In [10]:
data={
    'state':['zhao','wei','zheng'],
    'year':[2000,  2001, 2002],
    'pop':[1.5,1.4,1.2]
}
df = pd.DataFrame(data)

In [11]:
df

   state  year  pop
0   zhao  2000  1.5
1    wei  2001  1.4
2  zheng  2002  1.2

In [12]:
df['state']

0     zhao
1      wei
2    zheng
Name: state, dtype: object

In [13]:
df[['state', 'year']]

   state  year
0   zhao  2000
1    wei  2001
2  zheng  2002

In [14]:
df.loc[1]

state     wei
year     2001
pop       1.4
Name: 1, dtype: object

In [15]:
df.loc[1:2]

   state  year  pop
1    wei  2001  1.4
2  zheng  2002  1.2