In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [3]:
df1 = DataFrame({'key':['X','Y','Z'], 'data_set_1':[1,2,3]})
df1

  key  data_set_1
0   X           1
1   Y           2
2   Z           3

In [10]:
df2 = DataFrame({'key':['X', 'B', 'C','X'], 'data_set_2':[4,5,6,7]})
df2

  key  data_set_2
0   X           4
1   B           5
2   C           6
3   X           7

In [11]:
pd.merge(df1,df2)

  key  data_set_1  data_set_2
0   X           1           4
1   X           1           7

In [12]:
pd.merge(df1,df2, on='key')

  key  data_set_1  data_set_2
0   X           1           4
1   X           1           7

In [14]:
pd.merge(df1,df2, on='key', how='inner')

  key  data_set_1  data_set_2
0   X           1           4
1   X           1           7

In [15]:
pd.merge(df1,df2, on='key', how='left')

  key  data_set_1  data_set_2
0   X           1         4.0
1   X           1         7.0
2   Y           2         NaN
3   Z           3         NaN