In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
df = pd.read_csv("Desktop/HR.csv")

In [5]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [6]:
la_e = df['last_evaluation']
la_e

0             0.53
1             0.86
2             0.88
3             0.87
4             0.52
5             0.50
6             0.77
7             0.85
8             1.00
9             0.53
10            0.54
11            0.81
12            0.92
13            0.55
14            0.56
15            0.54
16            0.47
17            0.99
18            0.51
19            0.89
20            0.83
21            0.55
22            0.95
23            0.57
24            0.53
25            0.92
26            0.87
27            0.49
28            0.46
29            0.50
           ...
14972         0.97
14973         0.52
14974         0.54
14975         0.79
14976         0.47
14977         0.85
14978         0.47
14979         0.93
14980         0.89
14981         0.93
14982         0.49
14983         0.84
14984         0.56
14985         0.99
14986         0.85
14987         0.70
14988         0.55
14989         0.57
14990         0.88
14991         0.81
14992         0.48
14993         0.83
14994         0.57
14995         0.48
14996         0.53
14997         0.96
14998         0.52
14999         0.52
15000    999999.00
15001         0.40
Name: last_evaluation, Length: 15002, dtype: float64

In [8]:
la_e.isnull()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
14972    False
14973    False
14974    False
14975    False
14976    False
14977    False
14978    False
14979    False
14980    False
14981    False
14982    False
14983    False
14984    False
14985    False
14986    False
14987    False
14988    False
14989    False
14990    False
14991    False
14992    False
14993    False
14994    False
14995    False
14996    False
14997    False
14998    False
14999    False
15000    False
15001    False
Name: last_evaluation, Length: 15002, dtype: bool

In [9]:
la_e[la_e.isnull()]

Series([], Name: last_evaluation, dtype: float64)

In [10]:
la_e.mean()

67.37373216904412

In [11]:
la_e.max()

999999.0

In [13]:
la_e.min()

0.36

In [14]:
la_e.describe()

count     15002.000000
mean         67.373732
std        8164.407524
min           0.360000
25%           0.560000
50%           0.720000
75%           0.870000
max      999999.000000
Name: last_evaluation, dtype: float64

In [15]:
la_e.std()

8164.407523745649

In [16]:
la_e.quantile(q=0.25)

0.56

In [19]:
la_e[la_e>1]

15000    999999.0
Name: last_evaluation, dtype: float64

In [20]:
la_e= la_e[la_e<1]

In [21]:
la_e

0        0.53
1        0.86
2        0.88
3        0.87
4        0.52
5        0.50
6        0.77
7        0.85
9        0.53
10       0.54
11       0.81
12       0.92
13       0.55
14       0.56
15       0.54
16       0.47
17       0.99
18       0.51
19       0.89
20       0.83
21       0.55
22       0.95
23       0.57
24       0.53
25       0.92
26       0.87
27       0.49
28       0.46
29       0.50
30       0.62
         ...
14971    0.45
14972    0.97
14973    0.52
14974    0.54
14975    0.79
14976    0.47
14977    0.85
14978    0.47
14979    0.93
14980    0.89
14981    0.93
14982    0.49
14983    0.84
14984    0.56
14985    0.99
14986    0.85
14987    0.70
14988    0.55
14989    0.57
14990    0.88
14991    0.81
14992    0.48
14993    0.83
14994    0.57
14995    0.48
14996    0.53
14997    0.96
14998    0.52
14999    0.52
15001    0.40
Name: last_evaluation, Length: 14718, dtype: float64

In [22]:
q_low = la_e.quantile(q=0.25)

In [24]:
q_high = la_e.quantile(q=0.75)

In [25]:
q_interval = q_high - q_low  #四分位间距
q_interval

0.29999999999999993

In [26]:
k = 1.5

In [27]:
la_e=la_e[la_e<q_high + k*q_interval][la_e>q_low - k*q_interval]

In [30]:
la_e.count

<bound method Series.count of 0        0.53
1        0.86
2        0.88
3        0.87
4        0.52
5        0.50
6        0.77
7        0.85
9        0.53
10       0.54
11       0.81
12       0.92
13       0.55
14       0.56
15       0.54
16       0.47
17       0.99
18       0.51
19       0.89
20       0.83
21       0.55
22       0.95
23       0.57
24       0.53
25       0.92
26       0.87
27       0.49
28       0.46
29       0.50
30       0.62
         ...
14971    0.45
14972    0.97
14973    0.52
14974    0.54
14975    0.79
14976    0.47
14977    0.85
14978    0.47
14979    0.93
14980    0.89
14981    0.93
14982    0.49
14983    0.84
14984    0.56
14985    0.99
14986    0.85
14987    0.70
14988    0.55
14989    0.57
14990    0.88
14991    0.81
14992    0.48
14993    0.83
14994    0.57
14995    0.48
14996    0.53
14997    0.96
14998    0.52
14999    0.52
15001    0.40
Name: last_evaluation, Length: 14718, dtype: float64>

In [31]:
len(la_e)

14718

In [32]:
np.histogram(la_e.values,bins=np.arange(0.0,1.1,0.1))

(array([   0,    0,    0,  179, 1390, 3396, 2234, 2062, 2752, 2705]),
 array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ]))