In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = pd.read_csv('Desktop/HR.csv')

In [3]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

#### 异常值分析

In [6]:
sl_s= df["satisfaction_level"] # 获取满意度这一列

In [7]:
sl_s.isnull()  # 看下这列是否有空值

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
14972    False
14973    False
14974    False
14975    False
14976    False
14977    False
14978    False
14979    False
14980    False
14981    False
14982    False
14983    False
14984    False
14985    False
14986    False
14987    False
14988    False
14989    False
14990    False
14991    False
14992    False
14993    False
14994    False
14995    False
14996    False
14997    False
14998    False
14999     True
15000     True
15001    False
Name: satisfaction_level, Length: 15002, dtype: bool

In [9]:
sl_s[sl_s.isnull()]  # 查看多少空值

14999   NaN
15000   NaN
Name: satisfaction_level, dtype: float64

In [10]:
df[df["satisfaction_level"].isnull()]  # 查看满意度为空的两行数据

,satisfaction_level,last_evaluation,number_project,average_monthly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
14999,NaN,0.52,2,158,3,0,1,0,support,low
15000,NaN,999999.00,2,158,3,0,1,0,sale,low

In [12]:
sl_s=sl_s.dropna()

In [16]:
sl_s.mean() #均值

0.6128393333333343

In [17]:
sl_s.std() # 标准差

0.24862338135945417

In [18]:
sl_s.max()

1.0

In [19]:
sl_s.min()

0.09

In [20]:
sl_s.describe()

count    15000.000000
mean         0.612839
std          0.248623
min          0.090000
25%          0.440000
50%          0.640000
75%          0.820000
max          1.000000
Name: satisfaction_level, dtype: float64

In [21]:
sl_s.count()

15000

In [23]:
sl_s.median() # 中位数

0.64

In [24]:
sl_s.quantile(q=0.25) # 分位数

0.44

In [25]:
sl_s.quantile(q=0.75)

0.82

In [26]:
sl_s.quantile(q=0.5)

0.64

In [27]:
sl_s.skew() # 偏度

-0.47643761717258093

In [28]:
sl_s.kurt() # 峰度

-0.6706959323886252

In [30]:
np.histogram(sl_s.values, bins=np.arange(0.0,1.1,0.1))

(array([ 195, 1214,  532,  974, 1668, 2146, 1973, 2074, 2220, 2004]),
 array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ]))