In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Series 的排序

In [3]:
s1 = Series(np.random.randn(10))

In [4]:
s1

0   -1.078276
1   -0.335734
2    0.612116
3   -0.192403
4   -0.666701
5    0.795162
6    0.222805
7   -1.283651
8    0.004346
9    0.766276
dtype: float64

In [5]:
s1.values

array([-1.07827555, -0.33573359,  0.61211574, -0.1924031 , -0.66670069,
        0.79516248,  0.22280548, -1.28365067,  0.0043459 ,  0.76627564])

In [6]:
s1.index

RangeIndex(start=0, stop=10, step=1)

In [8]:
s2 = s1.sort_values(ascending=False)
s2

5    0.795162
9    0.766276
2    0.612116
6    0.222805
8    0.004346
3   -0.192403
1   -0.335734
4   -0.666701
0   -1.078276
7   -1.283651
dtype: float64

In [9]:
s2.sort_index()

0   -1.078276
1   -0.335734
2    0.612116
3   -0.192403
4   -0.666701
5    0.795162
6    0.222805
7   -1.283651
8    0.004346
9    0.766276
dtype: float64

# DataFrame的排序

In [14]:
df1 = DataFrame(np.random.randn(40).reshape(8,5), columns=['A', 'B','C', 'D', 'E'])

In [15]:
df1

          A         B         C         D         E
0  2.321300 -0.574126 -0.460222 -2.599274 -1.101862
1 -0.993330 -0.547790  0.549848 -0.533200 -0.650657
2  1.873062  0.824657 -0.932227 -1.076516  0.788532
3 -0.664896  0.936446 -0.983881 -0.153875 -0.615307
4 -0.988572 -0.068120 -0.949006 -1.509892  0.382613
5  0.818854 -0.114186 -0.484212 -0.293307  1.242427
6  0.755143 -1.250600  1.017339 -1.227436  1.655820
7 -0.903646  0.540217 -1.490169  0.554262 -0.002953

In [17]:
df1['A'].sort_values()

1   -0.993330
4   -0.988572
7   -0.903646
3   -0.664896
6    0.755143
5    0.818854
2    1.873062
0    2.321300
Name: A, dtype: float64

In [18]:
df1.sort_values('A')

          A         B         C         D         E
1 -0.993330 -0.547790  0.549848 -0.533200 -0.650657
4 -0.988572 -0.068120 -0.949006 -1.509892  0.382613
7 -0.903646  0.540217 -1.490169  0.554262 -0.002953
3 -0.664896  0.936446 -0.983881 -0.153875 -0.615307
6  0.755143 -1.250600  1.017339 -1.227436  1.655820
5  0.818854 -0.114186 -0.484212 -0.293307  1.242427
2  1.873062  0.824657 -0.932227 -1.076516  0.788532
0  2.321300 -0.574126 -0.460222 -2.599274 -1.101862

In [19]:
df2 = df1.sort_values('A')
df2

          A         B         C         D         E
1 -0.993330 -0.547790  0.549848 -0.533200 -0.650657
4 -0.988572 -0.068120 -0.949006 -1.509892  0.382613
7 -0.903646  0.540217 -1.490169  0.554262 -0.002953
3 -0.664896  0.936446 -0.983881 -0.153875 -0.615307
6  0.755143 -1.250600  1.017339 -1.227436  1.655820
5  0.818854 -0.114186 -0.484212 -0.293307  1.242427
2  1.873062  0.824657 -0.932227 -1.076516  0.788532
0  2.321300 -0.574126 -0.460222 -2.599274 -1.101862

In [20]:
df2.sort_index()

          A         B         C         D         E
0  2.321300 -0.574126 -0.460222 -2.599274 -1.101862
1 -0.993330 -0.547790  0.549848 -0.533200 -0.650657
2  1.873062  0.824657 -0.932227 -1.076516  0.788532
3 -0.664896  0.936446 -0.983881 -0.153875 -0.615307
4 -0.988572 -0.068120 -0.949006 -1.509892  0.382613
5  0.818854 -0.114186 -0.484212 -0.293307  1.242427
6  0.755143 -1.250600  1.017339 -1.227436  1.655820
7 -0.903646  0.540217 -1.490169  0.554262 -0.002953